.modal {

   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 80%;
   max-width: 500px;
   background-color: #ffffff;
   padding: 20px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   z-index: 1000;
   opacity: 0;
   visibility: hidden;
   transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

   font-family: Arial, sans-serif;
   line-height: 1.5;
   color: #333;
}


.modal-overlay {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.7);
   z-index: 999;
   opacity: 0;
   visibility: hidden;
   transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}


.modal-active {
   opacity: 1;
   visibility: visible;
}


.modal-close {
   position: absolute;
   top: 10px;
   right: 10px;
   background-color: transparent;
   border: none;
   font-size: 24px;
   cursor: pointer;
}
.modal-header {
   background-color: #4CAF50; 
   color: #fff;
   padding: 10px 20px;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   text-align: center;
   font-weight: bold;
}

.modal-body {
   padding: 20px;
   line-height: 1.6;
}

.modal-footer {
   background-color: #f7f7f7;
   padding: 10px 20px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   text-align: right;
}

